.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border : 2px solid black;
}

.logo img {
  width: 100px;
}

.nav-items ul {
  list-style-type: none;
  font-size: 20px;
}
.nav-items ul li {
  display: inline;
  margin: 0 15px;
  font-size: 18px;
  font-weight: bold;
}

.nav-items ul li:hover {
  color: orange;
  cursor: pointer;
}

.res-card {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  
}

.res-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.res-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.res-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border : 1px solid blue;
}

.search {
  margin: 20px;
}

.res-logo{
    width: 100%;
}  

.filter-btn{
  margin: 20px;
  cursor: pointer;
}


.shimmer-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 24px;
  padding: 20px 32px;
}

.shimmer-card {
  width: 200px;
  height: 350px;
  margin: 25px 15px;
  border-radius: 12px;
  background: linear-gradient(
    90deg,
    #eeeeee 25%,
    #f5f5f5 37%,
    #eeeeee 63%
  );
  background-size: 400% 100%;
  animation: shimmer 1.4s ease infinite;
}

@keyframes shimmer {
  0% {
    background-position: -400px 0;
  }
  100% {
    background-position: 400px 0;
  }
}

.login {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #7f8269;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 20px;
  margin-left: 10px;
}

.login:hover {
  background-color: orange;
}

.filter {
  display: flex;
  align-items: center;
}